@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData"
                                DefaultLayout="@typeof(Pagination_Project.Components.Layout.LoginLayout)">
                <NotAuthorized>
                    <RedirectToLogin />
                </NotAuthorized>
            </AuthorizeRouteView>

            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>

        <NotFound>
            <LayoutView Layout="@typeof(Pagination_Project.Components.Layout.LoginLayout)">
                <div style="padding:40px; text-align:center;">
                    <h3>Página no encontrada</h3>
                    <p>La ruta que intentas abrir no existe.</p>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>